.signin {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: rgba(0, 0, 0, 0.9);
  color: white;
  min-height: 100vh;
  font-family: Syne, sans-serif;
}
.signin > h1 {
  margin-top: 40px;
  margin-bottom: 20px;
}
.signin__form {
  border: 1px solid black;
  box-shadow: 2px 2px 10px rgba(124, 86, 12, 0.9);
  height: 400px;
  padding: 50px;
}
.signin__email,
.signin__password {
  display: flex;
}
.signin__email input,
.signin__password input {
  margin-left: auto;
  margin-bottom: 20px;
  width: 200px;
  background: transparent;
  color: white;
  border: none;
  outline: none;
  padding: 3px;
  border-bottom: 1.5px solid var(--themeColor);
}
.signin__email h5,
.signin__password h5 {
  margin-right: 15px;
  font-size: 17px;
  font-weight: 500;
}
.signin__buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.signin__signinButton {
  margin-top: 20px;
  width: 100px;
  margin-bottom: 30px;
}
.signin__buttons p {
  margin-bottom: 20px;
  width: 100%;
  text-align: center;
  border-top: 1px solid darkgray;
  padding-top: 100px;
}
.signin__registerButton {
  width: 90%;
}
.signin > a {
  text-decoration: none;
  margin-top: 40px;
  color: var(--themeColor);
  margin-bottom: 50px;
}
